
.view{
   
  height: 800px;
  margin-top:-100px;
  
 
}



.trn{
  transition: 100ms;
  background: transparent !important;
  z-index: 100;

}

.trn a {

  color: white !important;
 
}


.trn.scrolled{

  background: black !important;
  z-index: 100;
} 

.navbar-brand{
  font-size: x-large;
 font-family:Papyrus, fantasy;
  
}

/* .navbar-light .navbar-brand {
  color:white;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}  


.navbar-light .navbar-nav .nav-link {
  color: white;
}
.navbar-light .navbar-nav .nav-link.disabled {
  color: white;
} */


.beutical{
  margin-top: -57px;
} 

/* .view{
  
  height: 100%;
  padding-bottom: 0;


} */

.nav-link {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  padding: 20px 0px;
  margin: 0px 20px;
  display: inline-block;
  position: relative;
  opacity: 0.75;
}

.nav-link:hover {
  opacity: 1;
}

.nav-link::before {
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: white;
}

.nav-link-ltr::before {
  width: 0%;
  bottom: 10px;
}

.nav-link-ltr:hover::before {
  width: 100%;
}

.header-text {
  position: absolute;
  top: 40%;
  left: 1.8%;
  right: auto;
  width: 96.66666666666666%;
  color: #fff;
}
