<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Project 3</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="static/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
  </head>

<body>
  <header>  
    <div class="wrapper">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Home Page
            <!--<img class="nav-ufo" src="images\species\zb_inlargepipe.jpg">-->
          </a>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link nav-link-ltr" href="mussels">Numbers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link-ltr" href="density">Density</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link-ltr" href="invasion">Invasion</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link-ltr" href="econ">Economics</a>
            </li>
          </ul>
        </div>
        </div>
      </nav> 
    </div> 
  </header>
    <div class="hero text-center">
      <h1>Invasive Species</h1>
    </div>
  <div class="container marketing">
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-6">
        <h2>Zebra Mussels</h2>
        <img src="https://stmedia.stimg.co/ows_157325998797304.jpg?fit=crop&crop=faces" width="400" height="280" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></img></a>       
        <p>Looks innocent and quite harmless by itself</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-3" style="float:right">
        <h2>Greenhouse Frogs</h2>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTpgcy1-9jHjCWC_dQmI22G7a43iWzSeZxoxQ&usqp=CAU"width="280" height="280" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect></svg>
        <p>Currently overtaking Florida</p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    <!-- START THE FEATURETTES -->
    <hr class="featurette-divider">
    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Greenhouse Frog Facts & Ecological Impact </h2>
        <p class="lead">The Greenhouse Frog is a very small species, ranging from 17 to 31 mm (0.6 to 1.25 inches) in length. These frogs are usually drab or olive-brown in color, and occur in two forms; one has two broad stripes running longitudinally down the back, and the other is mottled. Native to Cuba, the Bahamas, and the Cayman Islands, and it has been introduced to other areas, such as Florida and Hawaii.
          The Greenhouse Frog lives in moist leaf litter, often near human habitations. It is most active at night, during or just following rain.</p> 
        <p class="lead">While the Greenhouse Frog seems relatively harmless in comparison to other invasive species, competition with native amphibians or small reptiles for insects may occur. They could also adversely affect the diversity of indigenous insects.</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"></svg> <img src= "https://intractableautodidact.files.wordpress.com/2011/10/mg_0490-copy.jpg" width="500" height="400" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em"></text></svg>
      </div>
    </div>
    <hr class="featurette-divider">
    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Zebra Mussel Facts & Ecological Impact </h2>
        <p class="lead">The Zebra Mussel is a small shellfish named for the striped pattern of its shell. They are usually about the size of a fingernail but can grow to a maximum length of around 2 inches. Color patterns can vary to the point of having only dark or light-colored shells with no stripes. This mussel is typically found attached to objects, surfaces, or other mussels by threads extending from underneath the shells. </p>
        <p class="lead"> Zebra Mussels are responsible for the near extinction of many species by outcompeting native species for food and by growing on top of and suffocating the native clams and mussels. They also attach to pipelines, hydroelectric turbines, and irrigation systems. This costs millions of dollars to remove the Zebra Mussels from clogged water intakes.</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"></svg> <img src= "https://reportingtexas.com/wp-content/uploads/2018/12/Zebra-Mussels_Steohen-Cabler_01-800x533.jpg" width="500" height="350" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em"></text></svg>
      </div>
    </div>
    <hr class="featurette-divider">
    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">First Sightings and Future Trends</h2>
        <p class="lead">The Greenhouse Frog first arrived in Florida, in 1863, by hitching a ride on plants derived from Cuba. These frogs do not have a large surface area of dispersion for their invasion because of the way they invade. These species usually move place to place in the transport of flowers and trees. </p> 
        <p class="lead">The Zebra Mussel first arrived attached to the underbelly of a boat. The first sighting was actually in Canada during the year of 1987. In 1988, Zebra Mussels reached the north parts of Michigan and Ohio. By 1990, the mussels were heavly dispersed all around New york and at the mouth of many rivers coming from the Great Lakes. From 1990 to 2000, the Zebra Mussels overtake all of the waterways on the east coast, costing billions of dollars worth of damage. We now see the mussels migrating a bit across central America. Where in the future, we believe, Zebra Mussels will soon invade California in the same way they overtook eastern rivers. </p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"></svg> <img src= "https://taylorsciencegeeks.weebly.com/uploads/5/9/2/0/59201005/733711206.jpg" width="500" height="350" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em"></text></svg>
      </div>
    </div>
    <hr class="featurette-divider">
    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Zebra Mussels Economic Impact </h2>
        <p class="lead">During the initial invasion of the 90s, the Zebra Mussels cost America $8.8 Billion from 1990 to 2000 alone. </p>
        <p class="lead">Although many companies are in the habit of Zebra Mussel prevention, there are still some associated overhead costs that should always be budgeted annually: </p>
        <p class="lead"> - $3 billion dollars to assist water powerplants </p>
        <p class="lead"> - $825,000 to assist nuclear powerplants </p>
        <p class="lead"> - $145,000 to assist fossil fuel plants </p>
        <p class="lead"> - $85,000 to assist hydroelectric plants</p>
      </div>
      <div class="col-md-4">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"></svg> <img src="https://www.blueaccounting.org/sites/default/files/styles/viewport/public/2017-09/GettyImages-105961671_comp_1024.jpg?itok=vdqkftI0" width="550" height="400" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500">
        <title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em"></text></svg>
      </div>
    </div>
    <!-- /END THE FEATURETTES -->
  </div>

</body>
    
    </html>