<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Project 3</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="static/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
  </head>

<body>
  <header>  
    <div class="wrapper">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Overview
            <!--<img class="nav-ufo" src="images\species\zb_inlargepipe.jpg">-->
          </a>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link nav-link-ltr" href="mussels">Mussels</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link-ltr" href="density">Density</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link-ltr" href="invasion">Invasion</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link-ltr" href="econ">Economics</a>
            </li>
          </ul>
        </div>
        </div>
      </nav> 
    </div> 
  </header>
    <div class="hero text-center">
      <h1>Invasive Species</h1>
    </div>
  <div class="container marketing">
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-6">
        <h2>Zebra Mussels</h2>
        <a target="_blank" href="mussels"><img src="/images/species/zb.png" width="280" height="280"></img></a>       
        <p>Looks Innocent and quite harmless by itself.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-6">
        <h2>Greenhouse Frogs</h2>
        <svg class="bd-placeholder-img rounded-circle" src="images\species\greenhouse_frog.jpeg"width="280" height="280" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect></svg>
        <p>Currently overtaking the Hawaiian Islands.</p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    <!-- START THE FEATURETTES -->
    <hr class="featurette-divider">
    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Economic Impact. </h2>
        <p class="lead">$8.8 Billion through from 1990 to 2000 alone. </p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
      </div>
    </div>
    <hr class="featurette-divider">
    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Ecological Impact. </h2>
        <p class="lead">The zebra mussel is a small shellfish named for the striped pattern of its shell. They are usually about the size of a fingernail but can grow to a maximum length of around 2 inches. Color patterns can vary to the point of having only dark or light-colored shells with no stripes. This mussel is typically found attached to objects, surfaces, or other mussels by threads extending from underneath the shells.
          Zebra mussels are responsible for the near extinction of many species by outcompeting native species for food and by growing on top of and suffocating the native clams and mussels. They also attach to pipelines, hydroelectric turbines, and irrigation systems. Costing millions of dollars removing zebra mussels from clogged water intakes.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
      </div>
    </div>
    <hr class="featurette-divider">
    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">They often show up in very non-descript ways. </h2>
        <p class="lead">The Greenhouse Frog hitched a ride on plants. The Zebra mussel first arrived attached to the underbelly of a boat.</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
      </div>
    </div>
    <hr class="featurette-divider">
    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">More </h2>
        <p class="lead">The greenhouse frog is a very small species, ranging from 17 to 31 mm (0.6 to 1.25 inches) in length. These frogs are usually drab or olive-brown in color, and occur in two forms; one has two broad stripes running longitudinally down the back, and the other is mottled. Native to Cuba, the Bahamas, and the Cayman Islands, and it has been introduced to other areas, such as Florida and Hawaii.
          The greenhouse frog lives in moist leaf litter, often near human habitations. It is most active at night, during or just following rain. While the greenhouse frog seems relatively harmless in comparison to other invasive species, competition with native amphibians or small reptiles for insects may occur. They could also adversely affect the diversity of indigenous insects.</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
      </div>
    </div>
    <hr class="featurette-divider">
    <!-- /END THE FEATURETTES -->
  </div>

</body>
    
    </html>